[submodule "awesome/plugins/uPower"]
	path = awesome/plugins/uPower
	url = https://github.com/Aire-One/awesome-battery_widget
[submodule "awesome/plugins/rubato"]
	path = awesome/plugins/rubato
	url = https://github.com/andOrlando/rubato
[submodule "awesome/plugins/bling"]
	path = awesome/plugins/bling
	url = https://github.com/BlingCorp/bling
[submodule "awesome/plugins/color"]
	path = awesome/plugins/color
	url = https://github.com/andOrlando/color
[submodule "awesome/plugins/fzy"]
	path = awesome/plugins/fzy
	url = https://github.com/swarn/fzy-lua
[submodule "awesome/lua-amalg"]
	path = awesome/lua-amalg
	url = https://github.com/siffiejoe/lua-amalg
[submodule "awesome/plugins/lua-amalg"]
	path = awesome/plugins/lua-amalg
	url = https://github.com/siffiejoe/lua-amalg
[submodule "awesome/plugins/minify"]
	path = awesome/plugins/minify
	url = https://github.com/stravant/lua-minify
[submodule "awesome/plugins/pprint"]
	path = awesome/plugins/pprint
	url = https://github.com/jagt/pprint.lua
[submodule "nvim/pkgs/presenting.nvim"]
	path = nvim/pkgs/presenting.nvim
	url = https://github.com/sotte/presenting.nvim
