[submodule "awesome/plugins/uPower"]
	path = awesome/plugins/uPower
	url = https://github.com/Aire-One/awesome-battery_widget
[submodule "awesome/plugins/rubato"]
	path = awesome/plugins/rubato
	url = https://github.com/andOrlando/rubato
[submodule "awesome/plugins/bling"]
	path = awesome/plugins/bling
	url = https://github.com/BlingCorp/bling
[submodule "awesome/plugins/color"]
	path = awesome/plugins/color
	url = https://github.com/andOrlando/color
